// *{
//     border: 2px solid black;
// }
#counter {
    .row{
        width:80%;
        margin: 0 auto;
    }
  .container-fluid {
    background-color: var(--primary-color);
    padding: 3rem 0;
    h2, p{
        color: var(--white-color);
        text-align: center;
      }
  }
}


