// * {
//   border: 1px solid black;
// }
nav {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
  

  .navbar-toggler:focus {
    outline: unset;
    border: unset;
    box-shadow: none;
  }
  #navbarText {
    margin: 0;

    ul {
      margin: 0;
      padding: 0;
      text-align: center;
      width: 60%;
      display: flex;
      justify-content: center;
      li {
        flex: 1;
      }

      .nav-link {
        border-bottom: 2px solid transparent;
        color: var(--grey-color);
        transition: all 200ms linear;
        font-weight:600 ;
        letter-spacing: 1px;
        font-size:0.9375rem;

        &:hover {
          color: var(--primary-color);
          border-bottom: 2px solid var(--primary-color);
        }
      }
    }
  }
  .btn {
   @extend %filled-button;
   margin-left: 0.9375rem;
   
  }
}
.navigation-wrap.scroll-on{
  position:fixed;
  top:0;
  left:0;
  width:100%;
  background:var(--white-color);
  box-shadow: 0 0.125rem 1.75rem 0 rgb(0,0,0,0.1);
  transition:all .15s ease-in-out 0s;
}