.story-section {
  width: 100%;
  margin-top: 5rem;
  background: url("../Assets/Images/bg/bg-2.jpg") no-repeat center;
  background-size: cover;
  padding: 100px 0;
  text-align: center;

  h2 {
    color: var(--primary-color);
    font-weight: 600;
  }

  .btn {
    @extend %filled-button;
  }
}
