// *{
//     border:2px solid black;
// }
.top-banner {
  width: 100%;
  background: url("../Assets/Images/bg/bg-1.jpg") no-repeat center;
  background-size: cover;
  padding: 10.875rem 0 9.375rem;
    .order{
        @extend %filled-button;
    }
    .book{
        @extend %transparent-button;
    }
}
