@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");
nav {
  position: fixed;
  width: 100%;
  left: 0;
  z-index: 1000;
  transition: all 0.3s ease-out;
}
nav .navbar-toggler:focus {
  outline: unset;
  border: unset;
  box-shadow: none;
}
nav #navbarText {
  margin: 0;
}
nav #navbarText ul {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 60%;
  display: flex;
  justify-content: center;
}
nav #navbarText ul li {
  flex: 1;
}
nav #navbarText ul .nav-link {
  border-bottom: 2px solid transparent;
  color: var(--grey-color);
  transition: all 200ms linear;
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 0.9375rem;
}
nav #navbarText ul .nav-link:hover {
  color: var(--primary-color);
  border-bottom: 2px solid var(--primary-color);
}
nav .btn {
  margin-left: 0.9375rem;
}

.navigation-wrap.scroll-on {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--white-color);
  box-shadow: 0 0.125rem 1.75rem 0 rgba(0, 0, 0, 0.1);
  transition: all 0.15s ease-in-out 0s;
}

.top-banner {
  width: 100%;
  background: url("../Assets/Images/bg/bg-1.jpg") no-repeat center;
  background-size: cover;
  padding: 10.875rem 0 9.375rem;
}
#counter .row {
  width: 80%;
  margin: 0 auto;
}
#counter .container-fluid {
  background-color: var(--primary-color);
  padding: 3rem 0;
}
#counter .container-fluid h2, #counter .container-fluid p {
  color: var(--white-color);
  text-align: center;
}

.about-section {
  margin: 5rem auto;
}
.about-section .card img {
  border-radius: 0.625rem;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #a82c48;
  --secondary-color: #43121d;
  --tertiary-color: #f98169;
  --text-color: #444343;
  --text-gray: #999;
  --black-color: #000;
  --white-color: #fff;
  --primary-font: "Roboto", sans-serif;
  --secondry-font: "Quicksand", sans-serif;
}

:active,
:hover,
:focus {
  outline: 0 !important;
  outline-offset: 0;
}

html {
  scroll-behavior: smooth;
}
html body {
  font-family: var(--primary-font);
  font-size: 100%;
  font-weight: 400;
}
html body h1 {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 3rem;
  color: var(--secondary-color);
  font-family: var(--secondry-font);
}
html body h2 {
  font-weight: 700;
  font-size: 2.25rem;
  text-transform: capitalize;
  font-family: var(--secondry-font);
  color: var(--secondary-color);
  line-height: 3rem;
}
html body h4 {
  color: var(--secondry-color);
  font-family: var(--secondry-font);
  text-transform: capitalize;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 0.5rem;
}
html body h5 {
  color: var(--primary-color);
  text-transform: capitalize;
  font-family: var(--secondry-font);
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
html body p {
  font-size: 1rem;
  color: var(--text-color);
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 1px;
  text-align: justify;
  font-family: var(--secondry-font);
}
html body .top-banner .book, .top-banner html body .book, html body nav .btn, nav html body .btn, html body .top-banner .order, .top-banner html body .order, html body .about-section .btn, .about-section html body .btn {
  font-family: var(--secondry-font);
  font-weight: 800;
  font-size: 1.025rem;
  letter-spacing: 0.05rem;
  padding: 0.7rem 1.3rem;
  border-radius: 0;
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.5);
  transition: all 0.4s ease-out 0s;
}
html body nav .btn, nav html body .btn, html body .top-banner .order, .top-banner html body .order, html body .about-section .btn, .about-section html body .btn {
  background: var(--primary-color);
  color: var(--white-color);
  border: 2px solid var(--primary-color);
}
html body nav .btn:hover, nav html body .btn:hover, html body .top-banner .order:hover, .top-banner html body .order:hover, html body .about-section .btn:hover, .about-section html body .btn:hover {
  color: var(--primary-color);
  background: none;
  border: 2px solid var(--primary-color);
}
html body .top-banner .book, .top-banner html body .book {
  background: var(--white-color);
  color: var(--primary-color);
  border: 2px solid var(--primary-color);
}
html body .top-banner .book:hover, .top-banner html body .book:hover {
  color: var(--white-color);
  background: none;
  background-color: var(--primary-color);
}

::-webkit-scrollbar {
  width: 0.625rem;
}
::-webkit-scrollbar-track {
  background: var(--white-color);
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

@media (max-width: 991px) {
  /*custom classes  */
  .text-content {
    width: 100%;
  }
  /* navbar brand */
  .navigation-wrap {
    text-align: center;
    background-color: var(--white-color);
  }
  .navigation-wrap .navbar-brand img {
    height: 3.8125rem;
  }
  .navigation-wrap .navbar-brand img .nav-link {
    line-height: 1.875rem;
  }
  .top-banner {
    padding: 9.375rem 0 9.375rem;
  }
  /* carousel design */
  .testimonial-section .carousel-item .carousel-caption p {
    padding: 0;
  }
}
@media (max-width: 767px) {
  /* custom css */
  h1 {
    font-size: 2.8rem;
  }
  h2 {
    font-size: 2rem;
    line-height: 2.0625rem;
  }
  /* top banner */
  .top-banner {
    padding: 10.875rem 0 9.375rem;
  }
  /* story section */
  .story-section {
    height: auto;
    padding: 3rem 0;
  }
  /* carousel design */
  .testimonial-section .carousel-item {
    padding: 11rem 3.125rem;
  }
  /* newslettar */
  .newsletter {
    width: 75%;
  }
  .newsletter .main-btn {
    width: 100%;
    margin-top: 1rem;
  }
  /* footer link */
  .footer .footer-link,
  .footer a i {
    padding: 0 0.7rem;
  }
}
@media (max-width: 330px) {
  /* carousel design */
  .testimonial-section .carousel-item {
    padding: 13rem 3.125rem;
  }
}/*# sourceMappingURL=style.css.map */